.header{
    height: 600px;
    background-image: url('../images/baby3.jpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: multiply;
}